
.container-fluid {
    background-image: url(/src/img/work.jpg);
    opacity: 100%;  
    background-size: cover;
    height: 350px;
    text-align: center;
  }
  .search {
    margin-top: 70px;
  }
  
  